.Sell{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background: white;
    background-image:url("maxresdefault.jpg");
    background-size:cover;
  }
#buttonE{
	background-color:rgba(0,0,0,0);
	border-radius:50px;
	border-color: white;
	border-width: 3px;
}
#buttonE:hover { 
    background-color: white;
    color:black;
}
#buttonE:active{
    transform: scale(0.97);
}
#buttonN{
	background-color:rgba(0,0,0,0);
	border-radius:50px;
	border-width: 3px;
	border-color: white;
	color:white;
}
#buttonN:hover { 
    background-color: white;
    color:black;
}
#buttonN:active{
    transform: scale(0.97);
}