.Buy{
    position: absolute;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: white;
  
}
.grid-container {
    display: flex;
    flex-wrap:wrap;
    padding: 10px;
    background-color: white;
  }
.grid-item:hover{
    transform: scale(1.1);
} 
  .grid-item {
    transition: transform 0.2s;
    transform: scale(1);
    box-shadow: 2px 2px 10px  #999999 ;
    padding: 20px;
    font-size: 18px;
    color:black;

  }
#banner{
    padding:200px;
    position:absolute;
    width:100%;
    height:100px;
    background-image:url("http://www.4usky.com/data/out/98/164889563-ultimate-wallpapers.jpg");
    background-size:cover;
    color:white;
    font-size: 50px;
}