#body{
	position: relative;
    top: 0;left: 0;
    height: 100%;
    width: 100%;
	z-index: 10;
	margin-right: 0%;
	background-image:url("maxresdefault.jpg");
	background-size:cover;
	}
div.col-sm-6{
	border: none;
}
#buttonB{
	background-color:rgba(0,0,0,0);
	border-radius:50px;
	border-color: white;
	border-width: 3px;
}
#buttonB:hover { 
    background-color: white;
    color:black;
}
#buttonB:active{
	transform: scale(0.97);
}
#buttonS{
	background-color:rgba(0,0,0,0);
	border-radius:50px;
	border-width: 3px;
	border-color: white;
	color:white;
}
#buttonS:hover { 
    background-color: white;
    color:black;
}
#buttonS:active{
	transform: scale(0.97);
}
.card{
	transition: transform 0.2s;
}
.card:hover{
	transform: scale(1.1);
}
